html {
  background-color: #043263;
  color: white;
  font-size: 20px;
  font-family: "Alegreya", Georgia, serif;
  padding: 20px 0 20px 0;
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(66, 134, 245);
  padding: 0px 30px 0px 30px;
  border: 5px solid #eeeeee;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 1px;
}

aside {
  padding-left: 10px;
}

.mainBox {
  padding: 10px;
  display:flex;
  flex-direction: row;
  column-gap: 10px;
}

canvas {
  width:700px;
  height:700px;
}

.infoBox {
  display:flex;
  flex-direction: column;
}

.tokenPositions {
  display: grid;
  grid-template-columns: 200px 30px;
}

.tokenPositions p {
  margin: 5px 5px;
}

.valueText{
  text-align: right;
}

.mercuryText {
  color:#993CF3;
}

.venusText {
  color:#47e63f;
}

.marsText {
  color:#cc0001;
}
.jupiterText {
  color:#e69137;
}
.saturnText {
  color:#434343;
}
.sunText {
  color:#ffab40;
}
